.table {
    border: 2px solid white;
    border-collapse: collapse;
  }
  
  .table th,
  .table td {
    border: 1px solid white;
    padding: 8px;
    color: white; 
  }
  .loading-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loading {
    text-align: center;
    color:white;
}
